h1#contact Contact
p
  .
    If you have questions regarding the build process or if you just want to talk, visit&nbsp;
  a(href="https://webchat.freenode.net/?channels=harpoon" target="_blank") #harpoon
  .
    &nbsp;on freenode.net.
  br
  br
include vcard.pug
