h1#introduction Welcome to Harpoon

p.
  This site is still under construction.
  Please excuse the sparse contents.
  Further description and build instructions will follow.

h2 What is Harpoon?
p.
  Harpoon is meant as a chat application and will connect to various protocols.
  The first planned protocols are IRC, HackChat, Discord, Slack, Steam, WhatsApp and further in the future.
p.
  The Harpoon bundle actually consists of two applications: Harpoon and HarpoonClient.
  The server side tool Harpoon will manage your accounts and chats and will be online all the time.
  For actual chatting you will either use a HarpoonWeb (which is presented by the server side Harpoon) or HarpoonClient.

h2 Features
p.
  A list of features completed/in progress will follow...
