h1#introduction Welcome to Harpoon

-
  var states=[' ', '~', 'X'];
  function item(state, str) {
    return '<li>['+states[state]+'] '+str+'</li>';
  }

p.
  This site is still under construction.
  Please excuse the sparse contents.
  Further description and build instructions will follow.

h2 What is Harpoon?
p.
  Harpoon is meant as a chat application and will connect to various protocols.
  The first planned protocols are IRC, HackChat, Discord, Slack, Steam, WhatsApp and further in the future.
p.
  The Harpoon bundle actually consists of two applications: Harpoon and HarpoonClient.
  The server side tool Harpoon will manage your accounts and chats and will be online all the time.
  For actual chatting you will either use a HarpoonWeb (which is presented by the server side Harpoon) or HarpoonClient.

h2 Features
p.
  A list of features completed/in progress will follow...
div.features
  ul
    != item(2, "Client communication")
    ul
      != item(2, "WebClient")
      != item(2, "QtClient")
    != item(2, "Storing messages")
    != item(1, "Database support")
    ul
      != item(2, "Postgres database")
      != item(0, "MySQL database")
    != item(1, "IRC protocol")
    ul
      != item(2, "Server management")
      != item(2, "Channel management")
      != item(2, "Viewing the title")
      != item(1, "Basic messaging")
      != item(0, "Queries / Private messages")
      != item(0, "Commands (kick/whois/...)")
    != item(1, "IRC protocol")
    != item(0, "HackChat protocol")
    != item(0, "Discord protocol")
    != item(0, "Steam protocol")
    != item(0, "WhatsApp protocol")
    != item(0, "Slack protocol")
