div.head
  div.title
    a(href="#top") Harpoon
  div.titlemenu
    ul
      li
        a(href="#introduction") Introduction
      li
        a(href="#github") GitHub
      li
        a(href="#releases") Releases
      li
        a(href="/blog/") Blog
      li
        a(href="#contact") Contact
      li
        a(href="/blog/index.xml")
          div.rss