h1#releases Releases
p
  .
    The latest binary releases built for Debian (jessy) and Windows (x64) can be found here:&nbsp;
  a(href="https://www.0x17.de/release/Harpoon/") Harpoon
  .
    &nbsp;/&nbsp;
  a(href="https://www.0x17.de/release/HarpoonClient/") HarpoonClient
  .
    .
