h1#releases Releases
p The latest binary releases built for Debian (jessy) and Windows (x64) can be found here: #[a(href="https://www.0x17.de/release/Harpoon/") Harpoon] / #[a(href="https://www.0x17.de/release/HarpoonClient/") HarpoonClient].
