div.socket
  div.eye
  div.eyepreview
  div.etedrop
    h1 Chat With Your Friends
    p
      .
        A new challenger on will arrive on the market. You have to carry arround
      b a lot of
      .
        messenger
      b apps
      .
        and harpoon will
      b change
      .
        that for you. You will receive
      b all your friend feeds
      .
        in
      b just one application
      .
        . Though this product is still work in progress you can
      b follow
      .
        its state via
      b RSS
      .
        , the
      b blog
      .
        page or on
      b GitHub
      .
        .
      br
      button Break It Down!