div(style="float:left;margin:6px 20px -6px")
  img(src="images/me.jpg" alt="portrait" style="border-radius:100%")
div(style="float:left;margin-top:1px")
  div.contactLeft Name
  div.contactRight Manuel Herrmann
  div(style="clear:both")
  div.contactLeft Website
  div.contactRight
    a(href="https://www.manuel-herrmann.de/") https://www.manuel-herrmann.de/
  div(style="clear:both")
  
  div.contactLeft IRC
  div.contactRight.
    icedev #[a(href="http://freenode.net/" target="_blank") freenode.net]
  div(style="clear:both")
  
  div.contactLeft eMail
  div.contactRight m@manuel-herrmann.de
  div(style="clear:both")
div(style="clear:both")
div.contactLeft(style="padding-left:0;width:9em") GPG Fingerprint
div.contactRight 6747 32DD 70EF 2BCC 38C9  5092 FBA3 38F2 9FF7 CB1D
div(style="clear:both")
  
div.contactLeft(style="padding-left:0;width:9em") GPG Publickey
div.contactRight.
  #[a(target="_blank" href="https://keybase.io/0x17") keybase.io/0x17]
  #[a(target="_blank" href="https://keybase.io/0x17/key.asc") key.asc] (keybase)
  #[a(target="_blank" href="https://www.manuel-herrmann.de/key.asc") key.asc] (here)
div(style="clear:both")
  
div.contactLeft(style="padding-left:0;width:9em") Get Connected
div.contactRight.
  #[a(href="https://blog.0x17.de/" target="_blank") Blog] |
  #[a(href="https://stackoverflow.com/users/2233510/0x17de" target="_blank") StackOverflow] |
  #[a(href="https://github.com/0x17de" target="_blank") GitHub] |
  #[a(href="https://www.flickr.com/photos/icetruck_de/" target="_blank") Flickr] |
  #[a(href="https://www.youtube.com/channel/UCfBQp86e5QTKwZUumxH9W3g" target="_blank") YouTube] |
  #[a(href="https://projecteuler.net/" target="_blank") ProjectEuler]
  #[div(style="clear:both")]
